<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Weather App</title>
</head>
<body>
    <div class="container">
    <form action="/get-weather" method="post">
        <div class="input-container">
            <input class="input-city" type="text" id="name" name="name" placeholder="Enter a City" required>
            <button class="button" type="submit">
            <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
    </form>
    <% const d = new Date() %>
    
<% if (content && content.error) { %>
      <p class="error"><%= content.error %></p>
    <% } else if (content) { %>
      <div id="content" class="content">
        <div class="city-temp">
          <div class="city"><%= content.city_name %><pre class="country"><%= content.country %></pre></div>
          
          <div class="temp"><%= Math.round(content.temp) %>째</div>
        </div>
        <div class="text-align desc"><%= content.desc %></div>
        <div class="text-align">
          <img class="icon" src="<%= content.icon_url %>" alt="weather_icon">
        </div>
        <div class="text-align feels-like">
          Feels like: <%= Math.round(content.feelsLike) %>째
        </div>
        <div class="min-max">
        <div>Min: <%= Math.round(content.temp_min) %>째</div>
        <div>Max: <%= Math.round(content.temp_max) %>째</div>
        </div>
        <div class="wind">Wind: <%= Math.round(content.windSpeed) %> m/s</div>
        <div class="wind">Humidity: <%= Math.round(content.humidity) %>%</div>
      </div>
    <% } %>
    </div>
</body>
</html>